* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* changing default --> imported font */
  font-family: 'IBM Plex Sans', sans-serif;
}
body{
  max-width : 100vw;
  max-height: 100vh;
  overflow-y: scroll;
}
/*  default styling removed */
body::-webkit-scrollbar{
  display: none;
}
input:focus{
  outline: none;
  box-shadow: none;
}
input:-webkit-autofill {
  background: #fff !important;
}
li{
  list-style: none;
}
/*  default styling block ends here */

/*  components */
.Navbar {
  height: 72px;
  z-index : 9999;
}
#logoImage{
  width : 200px;
}
.Header{
  width : 100vw;
}
#BackgroundImage{
  min-height:55vh;
  width: 100vw;
  background: linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)),url("./assets/headerBG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.active{
  border-bottom: 1px solid rgba(0,0,0,1) ;
  padding: 10px 2rem;
}


/*  Modal  */

.ModalContainer{
  top: 0;
  position: absolute;
  z-index: 999;
  max-height: 100vh;
  width: 100vw;
  background: linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45));
}

/*  Modal Container */

.Modal{
  z-index: 9999;
   height: 60vh;
   width: 45vw;
}

.PostCard{
  height: 50vh;

}


/*  POSTCARD */
/*  removing default caretdown icon */

#dropdownMenuButton1::after{
   content: none;
}
/*  postCard Ends here */



/*  media query || responsiveness */



@media only screen and (max-width : 750px) {
  .Navbar{
      width : 100vw;
      display:flex;
      justify-content : flex-end;
      align-items: center;
  }
  .navbarChild{
    width : 100vw;
    display:flex;
    justify-content : flex-end;
    align-items: center;
  }
  .childPostHidden{
    display:none;
  }
  .Modal{
    position: absolute;
    bottom: 0;
    height: 65%;
    width: 100vw;
  }
  .PostCard{
    height: auto;
  }
}