* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* changing default --> imported font */
  font-family: 'IBM Plex Sans', sans-serif;
}
 
/*  default styling removed */
body::-webkit-scrollbar{
  display: none;
}
input:focus{
  outline: none;
  box-shadow: none;
}
input:-webkit-autofill {
  background: #fff !important;
}
li{
  list-style: none;
}
/*  default styling block ends here */




/*  fonts size accd to ui  */

.pageHeaderText{
  font-size : 36px;
}
.regulartext{
  font-size : 18px;
}
.postTitleText{
  font-size : 22px;
}
.postDescriptionText{
  font-size : 19px;
}

/*  fonts ends here  */



/*  components */
.Navbar {
  height: 72px;
  z-index : 9999;
}

.Header{
  min-height: 70vh;
}

#BackgroundImage{
  min-height:55vh;
  width: 100vw;
  background: linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)),url("./assets/headerBG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


/*  Modal  */

.ModalContainer{
  top: 0;
  position: absolute;
  z-index: 999;
  max-height: 100vh;
  width: 100vw;
  background: linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45));
}

/*  Modal Container */

.Modal{
  z-index: 9999;
   height: 60vh;
   width: 45vw;
}

#postsScroll::-webkit-scrollbar{
   display: none;
}


/* post card */

.cardHalfHeight{
  min-height : "28vh"
}


/*  media query || responsiveness */



@media only screen and (max-width : 750px) {
  .Navbar{
      width : 100vw;
      display:flex;
      justify-content : flex-end;
      align-items: center;
  }
  .navbarChild{
    width : 100vw;
    display:flex;
    justify-content : flex-end;
    align-items: center;
  }
  .childPostHidden{
    display:none;
  }
  .Modal{
    position: absolute;
    bottom: 0;
    height: 65%;
    width: 100vw;
  }
  .cardHalfHeight{
    min-height : "30vh"
  }
}

